/*
* This website is adapted from Jeff's website used in the live coding video and the Bootstrap CSS file.
* Source:  https://sleepcoacher.cs.brown.edu/
*/


/* indie-flower-regular - latin */
@font-face {
	/*font-family: "Indie Flower";*/
	font-family: "Papyrus", "Courier New", fantasy;
	font-style: normal;
	font-weight: 400;
	src: local("Indie Flower"), local("IndieFlower"), url("../fonts/indie-flower-v12-latin-regular.woff2") format("woff2"),
		/* Chrome 26+, Opera 23+, Firefox 39+ */ url("../fonts/indie-flower-v12-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* dekko-regular - latin */
@font-face {
	font-family: "Papyrus", "Courier New", fantasy;
	font-style: normal;
	font-weight: 400;
	src: local("Dekko"), url("../fonts/dekko-v7-latin-regular.woff2") format("woff2"),
		/* Chrome 26+, Opera 23+, Firefox 39+ */ url("../fonts/dekko-v7-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
	/*font-family: "Papyrus", "Courier New", fantasy;*/
	/*background-color: #064490;*/
}

h1,
h2,
h3,
h4,
h6,
p {
	/*font-family: "Papyrus", "Courier New", fantasy;*/
	opacity: 0.7;
}



.btn:focus,
.btn:hover {
	filter: brightness(120%);
	background-color: #E3880C;
}

.nav-item:focus,
.nav-item:hover {
	filter: brightness(120%);
}

.btn-lg {
	background-color: transparent;
	margin: 2rem 0;
	color: #E3880C;
	border-color: #E3880C;
	border-radius: 0;

}

.dream {
	background: url(../images/toast2.jpeg) center fixed;
	background-size: cover;
}

.top-pane {
	background: url(../main4.jpg) center ;
	background-size: cover;
	height: calc(100vh - 200px);
}


.row { /* temporary, should be fixed in https://github.com/twbs/bootstrap/pull/31649/commits/1ee994700443fc65134de32a0be89ab1e49ad01e */
	/*--bs-gutter-x: 2rem;*/
}

.paper-link {
	text-decoration: none;
	color: #2e6d79;
}

.app-link {
	text-decoration: none;
	color: lightgray;
}

.container {
	max-width: 960px;
}

.container-fluid {
	width: 100%;
	margin-right: auto;
  margin-left: auto;
}

.article-entry {
	align-items: center;
}

.article-entry p {
	margin: 1rem 0;
}

.food-item {
	width: 80%;
	height: 30rem;
	object-fit: cover;
}

.footer {
	background-color: #E3880C;
}


h5 a {
	text-decoration: none;
	color: white;
}
