/*
* This website is adapted from Jeff's website used in the live coding video and the Bootstrap CSS file.
* Source:  https://sleepcoacher.cs.brown.edu/
*/




body {
	font-family: 'Open Sans', sans-serif;
	/* background-color: #064490; */
	background-color: #ffffff;
}

strong {
    font-weight: bold;
    opacity: 1;
}

h1,
h2,
h3,
h4 {
	padding-bottom: 1rem;
	padding-top: 1rem;
	font-family: 'Open Sans', sans-serif;
	
	font-weight: 1000;
}
h6 {
	font-size: 4rem;
}

h4 {
	padding-top: 2rem;
}

.btn:focus,
.btn:hover {
	filter: brightness(120%);
}

.btn-lg {
	background-color: #2e6d79;
	margin: 2rem 0;
}

.dream {
	background: url(../images/toast.jpeg) center fixed;
	background-size: cover;
}

.top-pane {
	background: url(../images/toast.jpeg) center fixed;
	background-size: cover;
	height: calc(100vh );
}

.row { /* temporary, should be fixed in https://github.com/twbs/bootstrap/pull/31649/commits/1ee994700443fc65134de32a0be89ab1e49ad01e */
	--bs-gutter-x: 2rem;
}

.paper-link {
	text-decoration: none;
	color: #2e6d79;
}

.app-link {
	text-decoration: none;
	color: lightgray;
}

.container {
	max-width: 960px;
}

.article-entry {
	align-items: center;
}

.article-entry p {
	margin: 1rem 0;
}

.headshot {
	border: 0.2rem solid #FFFFFF;
	border-radius: 50%;
	width: 8rem;
	height: 8rem;
	object-fit: cover;
}



h5 a {
	text-decoration: none;
	color: white;
}
